#botonMas
{
	background: blue;
	border: 1px solid blue;
}

#botonMas a
{
	text-decoration: none;
	color: white;
}

#botonMas:hover
{
	background: white;
	color: blue;
	border: 1px solid blue;	
}

#botonMas a:hover
{
	color: blue;
}
#form
{
	display: none;
}

#botonForm
{
	background: white;
	border: 1px solid red;
	cursor: pointer;
}
#botonForm h5
{
	color:red;
}

#botonForm:hover
{
	background: red;
	border: 1px solid red;
	color:white;
}
#botonForm h5:hover
{
	color:white;
}

#divBusqueda
{
	display: none;
}

#botonCerrar
{
	background: red;
	cursor: pointer;
}
#botonCerrar
{
	color:white;
}

#botonCerrar:hover
{
	background: white;
	border: 1px solid red;
	color:red;
}
#botonCerrar:hover
{
	color:red;
}
